
<!-- DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" -->
<html>
	<head>
		<!-- META -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<!-- UNCOMMENT BELOW FOR WEB APP CREATION -->
		<!--
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="apple-touch-icon-precomposed" size="114x114" href="images/iphone_icon@2.png" />
		<link rel="apple-touch-icon-precomposed" href="images/iphone_icon.png" />
		<link rel="apple-touch-startup-image" href="images/iphone_startup.png" />
		-->
		
		<title>FPaperTemplate</title>
		
		
		<!-- CSS -->
		<style type="text/css">
		
			body,html {
				margin: 0;
				overflow: hidden;
			}

			/*
			 *	container divs for the canvas object
			 */
			#container {
				width: 100%;
				height: 100%;
				overflow: auto;
			}
			#container canvas {
				vertical-align: top;
				display: block;
				overflow: auto;
			}

			/*
			 *	a div to hold raster images
			 *	hides them from view
			 */
			#rasterImages {
				visibility: hidden;
			}


		</style>
		

		
		<!-- JavaScript -->
		<!-- LOAD LIBRARIES -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<!-- LOAD PAPERJS -->
		<!-- download PaperJS from http://paperjs.org/download/ and update path -->
		<script type="text/javascript" src="path/to/paper.js"></script>
		<script>
			// ------------------------------------------------------------------------
			// Global Properties
			// ------------------------------------------------------------------------
			// global properties for web-app handling
			var angle = 0.0;
			var device = {
				isiPad: null,
				isiPhone: null,
				isiPod: null,
				isSafari: null,
				isAndroid: null
			};



			// ------------------------------------------------------------------------
			// Global Methods
			// ------------------------------------------------------------------------
			paper.install(window);
			$(document).ready(function(){
				paper.setup('canvas');
				console.log('PaperJS is go!');
				


				// ------------------------------------------------------------------------
				// PaperJS Methods
				// ------------------------------------------------------------------------
				Setup();

				// ------------------------------------------------------------------------
				Draw();

				
				
				// ------------------------------------------------------------------------
				// PaperJS Events
				// ------------------------------------------------------------------------
				view.onFrame = function(event) {
					Update(event);
				}
				
				view.onResize = function(event) {
					onResize(event);
				}

				// ------------------------------------------------------------------------
				var tool = new Tool();
				tool.onMouseUp = function(event) {
					onMouseUp(event);
				}
				
				tool.onMouseDown = function(event) {
					onMouseDown(event);
				}
				
				tool.onMouseMove = function(event) {
					onMouseMove(event);
				}
				
				tool.onMouseDrag = function(event) {
					onMouseDrag(event);
				}


				// ------------------------------------------------------------------------
				tool.onKeyDown = function(event) {
					onKeyDown(event);
				}

				tool.onKeyUp = function(event) {
					onKeyUp(event);
				}
				
				
				// ------------------------------------------------------------------------
				view.draw(); // draw the screen

			});



			/**
			 *
			 *	Supporting Methods
			 *
			 *	uncomment if creating a web-app
			 */
			// $(function() {
			// 	angle = 0; // orienation angle
			// 	isRotated = false;

			// 	var ios = navigator.userAgent.match(/(iPhone)|(iPod)|(iPad)/);
			// 	device.isiPad    = (navigator.userAgent.match(/iPad/i) != null);
			// 	device.isiPhone  = (navigator.userAgent.match(/iPhone/i) != null);
			// 	device.isiPod    = (navigator.userAgent.match(/iPod/i) != null);
			// 	device.isSafari  = (navigator.userAgent.match(/Safari/i) != null);
			// 	device.isAndroid = (navigator.userAgent.match(/Android/i) != null);
				

			// 	// ------------------------------------------------------------------------
			// 	function orientationChange() {
			// 		angle = window.orientation;

			// 		orientation	= 'landscape';
			// 		if(angle == 0 || angle == 180)	orientation	= 'portrait';

			// 		// switch (window.orientation) {
			// 		// 	case 0:
			// 		// 		break;
			// 		// 	case 90:
			// 		// 		break;
			// 		// 	case -90:
			// 		// 		break;
			// 		// 	case 180:
			// 		// 		break;
			// 		// 	default:
			// 		// 		break;
			// 		// }
			// 	}

			// 	// ------------------------------------------------------------------------
			// 	function resizeCanvas() {
			// 		if (ios) {
			// 			$('#container').height($(window).height() + 60)
			// 		}
					
			// 		var width = $('#container').width();
			// 		var height = $('#container').height();
					
			// 		// set canvas width and height
			// 		$('#canvas').attr('width', width);
			// 		$('#canvas').attr('height', height)

			// 		// hides the WebKit url bar
			// 		// if (ios) {
			// 		// 	setTimeout(function() {
			// 		// 		window.scrollTo(0, 1);
			// 		// 	}, 100);	 
			// 		// }

			// 		// call Draw()
			// 		Draw();
			// 	}

			// 	// ------------------------------------------------------------------------
			// 	var resizeTimeout;
			// 	$(window).resize(function() {
			// 		clearTimeout(resizeTimeout);
			// 		resizeTimeout = setTimeout(resizeCanvas, 100);
			// 	});
			// 	resizeCanvas();
				
			// 	// ------------------------------------------------------------------------
			// 	var otimeout;
			// 	window.onorientationchange = function() {
			// 		clearTimeout(otimeout);
			// 		otimeout = setTimeout(orientationChange, 50);
			// 	}				

			// });


		</script>


		<!-- LOAD ADDITIONAL JAVASCRIPTS -->
		<!-- <script type="text/javascript" src="js/FrederickkPaper.js"></script> -->

		<!-- LOAD PAPER SCRIPT -->
		<!-- be sure that the filename and path matches your script -->
		<script type="text/javascript" src="scripts/FPaperTemplate.js"></script>



		<meta http-equiv="x-dns-prefetch-control" content="off"/>
	</head>
	<body>


		<!-- CANVAS -->
		<div id="container">
			<canvas resize="true" id="canvas"></canvas>
		</div>


		<!-- CANVAS -->
		<div id="rasterImages">
			<!-- any images which need to be accessed should be placed in here -->
			<!-- http://paperjs.org/tutorials/images/working-with-rasters/ -->
		</div>

		
	</body>
</html>
