<!--
  - Folio Template 0.8.14
  -
  - Ken Frederick
  - ken.frederick@gmx.de
  -
  - http://kennethfrederick.de/
  - http://blog.kennethfrederick.de/
  -
  -
  -
  -  ##filename##
  -  ##date##
  -
 -->

<!doctype html>
<!--[if lt IE 7]>           <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>              <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>              <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">



        <title>##filename##</title>



        <!-- CSS -->
        <link href="css/default.css" rel="stylesheet" type="text/css" />



        <meta http-equiv="x-dns-prefetch-control" content="off"/>
    </head>
    <body>


        <!-- TEXT -->
        <div id="text-container">
        </div>

        <div id="manual">
        </div>


        <!-- IMAGES -->
        <div id="rasters">
        </div>


        <!-- JAVASCRIPT -->
        ##libraries##
        ##dragdrop##
        <script type="text/javascript" src="./##filename##.js"></script>


    </body>
</html>
