/**
*	FPaper.css 0.0
*
*	Ken Frederick
*	ken.frederick@gmx.de
*
*	http://kennethfrederick.de/
*	http://blog.kennethfrederick.de/
*
*
*	This CSS is part of FPaperTemplate
*
*/



/*	------------------------------------------------------------------------
 *	Properties
 *	------------------------------------------------------------------------ */

/*
 *	alignment classes
 */
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}


/*
 *	color classes
 */
.black {
	color: rgba(35, 35, 0, 0.6);
}
.white {
	color: rgba(255, 255, 255, 0.9);
}

.blackBackground {
	background-color: rgba(35, 35, 0, 0.15);
	border: 0px solid rgba(35, 35, 0, 0.2);

	-moz-box-shadow: 0px 1px 0px rgba(35, 35, 0, 0.3);
	-webkit-box-shadow: 0px 1px 0px rgba(35, 35, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(35, 35, 0, 0.3);
} 
.whiteBackground {
	background-color: rgba(255, 255, 255, 0.20);
	border: 0px solid rgba(255, 255, 255, 0.25);

	-moz-box-shadow: 0px 1px 0px rgba(35, 35, 0, 0.15);
	-webkit-box-shadow: 0px 1px 0px rgba(35, 35, 0, 0.15);
	box-shadow: 0px 1px 0px rgba(35, 35, 0, 0.15);
} 





/*	------------------------------------------------------------------------
 *	Core
 *	------------------------------------------------------------------------ */
body, html {
	margin: 0;
	overflow: hidden;
	-webkit-text-stroke: 1px transparent;

	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

/*
 *	container divs for the canvas object
 */
#container {
	width: 100%;
	height: 100%;
	overflow: auto;
}
#container canvas {
	vertical-align: top;
	display: block;
	overflow: auto;
}

/*
 *	container div for text (season to taste)
 */
#textContainer {
	position: absolute;
	top: 70px;
	left: 35px;

	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	z-index: 200;

	/* my personal faves */
}

#manual {
	position: absolute;
	bottom: 70px;
	left: 35px;

	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	z-index: 200;

	font-weight: normal;

	/* my personal faves */
	/*color: rgba(0,0,0, 0.6);*/
}

/*
 *	a div to hold raster images
 *	hides them from view
 */
#rasterImages {
	visibility: hidden;
}



/* ------------------------------------------------------------------------
 * Links
 * ------------------------------------------------------------------------ */
a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: underline;
}



/*	------------------------------------------------------------------------
 *	'UI'-Elements
 *	------------------------------------------------------------------------ */ 
#inputContainer {
	position: absolute;
	bottom: 17px;
	width: 100%;
	text-align:center;

}

.inputComponent {
	position: relative;
	display: inline-block;

	padding: 0px 6px 0px 6px;
}

input {
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align:center;

	width: 100%;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

}

input.add {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/plus_16x16.png');
	border: none;
}
input.minus {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/minus_16x16.png');
	border: none;
}

input.submit {
	/* font-family: akzidenz grotesk, helvetica, arial; */
	/* font-size: 11px; */
	background-color: none;
	border: none;
}




/*	------------------------------------------------------------------------
 *	Media Queris
 *	------------------------------------------------------------------------ */ 
@media (max-width: 600px) {
	#textContainer {
		visibility: hidden;
	}
	#manual {
		visibility: hidden;
	}
	#inputContainer {
		visibility: hidden;
	}
}
