/**
*	FPaper.css 0.0
*
*	Ken Frederick
*	ken.frederick@gmx.de
*
*	http://cargocollective.com/kenfrederick/
*	http://kenfrederick.blogspot.com/
*
*
*	This CSS is part of FPaperTemplate
*
*/


/*	------------------------------------------------------------------------
 *	Core
 *	------------------------------------------------------------------------ */
body, html {
	margin: 0;
	overflow: hidden;
	-webkit-text-stroke: 1px transparent;
}

/*
 *	container divs for the canvas object
 */
#container {
	width: 100%;
	height: 100%;
	overflow: auto;
}
#container canvas {
	vertical-align: top;
	display: block;
	overflow: auto;
}

/*
 *	container div for text (season to taste)
 */
#textContainer {
	position: absolute;
	top: 70px;
	left: 35px;

	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	z-index: 200;

	/* my personal faves */
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

#manual {
	position: absolute;
	bottom: 70px;
	left: 35px;

	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	z-index: 200;

	/* my personal faves */
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: rgba(0,0,0, 0.6);
}

/*
 *	a div to hold raster images
 *	hides them from view
 */
#rasterImages {
	visibility: hidden;
}



/* ------------------------------------------------------------------------
 * Links
 * ------------------------------------------------------------------------ */
a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: underline;
}



/*	------------------------------------------------------------------------
 *	'UI'-Elements
 *	------------------------------------------------------------------------ */ 
#inputContainer {
	position: absolute;

	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

input {
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align:center;
	color: rgba(255,255,255, 0.9);

	/*width: 7em;*/

	/*background-color: rgba(0,0,0, 0.0);*/
	/*border: 0px solid rgba(0,0,0, 0.0);*/
	/*padding: 6px 6px;*/
}

input.add {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/plus_16x16.png');
	border: none;
}
input.minus {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/minus_16x16.png');
	border: none;
}

input.submit {
	/* font-family: akzidenz grotesk, helvetica, arial; */
	/* font-size: 11px; */
	background-color: none;
	border: none;
}




/*	------------------------------------------------------------------------
 *	Media Queris
 *	------------------------------------------------------------------------ */ 
@media (max-width: 600px) {
	#textContainer {
		visibility: hidden;
	}
	#manual {
		visibility: hidden;
	}
	#inputContainer {
		visibility: hidden;
	}
}
