/**
*	FPaper.css 0.0
*
*	Ken Frederick
*	ken.frederick@gmx.de
*
*	http://cargocollective.com/kenfrederick/
*	http://kenfrederick.blogspot.com/
*
*
*	This CSS is part of FPaperTemplate
*
*/

input {
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-size: 18px;
	background-color: #f1f1f1;
	border: 6px solid #f1f1f1;
}

input.add {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/plus_16x16.png');
	border: none;
}
input.minus {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/minus_16x16.png');
	border: none;
}

input.submit {
	/* font-family: akzidenz grotesk, helvetica, arial; */
	/* font-size: 11px; */
	background-color: none;
	border: none;
}
