/**
*	FPaper.css 0.0
*
*	Ken Frederick
*	ken.frederick@gmx.de
*
*	http://cargocollective.com/kenfrederick/
*	http://kenfrederick.blogspot.com/
*
*
*	This CSS is part of FPaperTemplate
*
*/


/*	------------------------------------------------------------------------
 *	Core
 *	------------------------------------------------------------------------ */
body,html {
	margin: 0;
	overflow: hidden;
}

/*
 *	container divs for the canvas object
 */
#container {
	width: 100%;
	height: 100%;
	overflow: auto;
}
#container canvas {
	vertical-align: top;
	display: block;
	overflow: auto;
}

/*
 *	container div for text (season to taste)
 */
#textContainer {
	position: absolute;
	top: 70px;
	left: 35px;

	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	z-index: 200;

	/* my personal faves */
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}


/*
 *	a div to hold raster images
 *	hides them from view
 */
#rasterImages {
	visibility: hidden;
}



/* ------------------------------------------------------------------------
 * Links
 * ------------------------------------------------------------------------ */
a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: underline;
}



/*	------------------------------------------------------------------------
 *	'UI'-Elements
 *	------------------------------------------------------------------------ */ 
input {
	font-family: "Akzidenz-Grotesk", akzidenz grotesk, helvetica, sans-serif;
	font-size: 18px;
	background-color: #f1f1f1;
	border: 6px solid #f1f1f1;
}

input.add {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/plus_16x16.png');
	border: none;
}
input.minus {
	height: 16;
	width: 16;
	background: transparent;
	background-image: url('http://dl.dropbox.com/u/7038255/experiment/images/minus_16x16.png');
	border: none;
}

input.submit {
	/* font-family: akzidenz grotesk, helvetica, arial; */
	/* font-size: 11px; */
	background-color: none;
	border: none;
}
